In [1]:
# this cell is for any necessary imports or pre-logic library setting changes

import sqlite3

In [2]:
# SQLite

def create_connection_lite(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except sqlite3.error as e:
        print(f"The error '{e}' occurred")

    return connection


def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except sqlite3.Error as e:
        print(f"The error '{e}' occurred")
        
        
        
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

lite_connection = create_connection_lite("E:\\sm_app.sqlite")


create_users_table_query = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""


create_posts_table_query = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""


create_comments_table_query = """
CREATE TABLE IF NOT EXISTS comments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id)
REFERENCES posts (id)
);
"""


create_likes_table_query = """
CREATE TABLE IF NOT EXISTS comments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id)
REFERENCES posts (id)
);
"""

create_users_query = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""


execute_query(lite_connection, create_users_table_query)
execute_query(lite_connection, create_posts_table_query)
execute_query(lite_connection, create_comments_table_query)
execute_query(lite_connection, create_likes_table_query)
execute_query(lite_connection, create_users_query)

Connection to SQLite DB successful
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [3]:
# Reading SQLite records

select_users = "SELECT * from users"
users = execute_read_query(lite_connection, select_users)

#for users in users:
#   print(users)
users

[(1, 'James', 25, 'male', 'USA'),
 (2, 'Leila', 32, 'female', 'France'),
 (3, 'Brigitte', 35, 'female', 'England'),
 (4, 'Mike', 40, 'male', 'Denmark'),
 (5, 'Elizabeth', 21, 'female', 'Canada'),
 (6, 'James', 25, 'male', 'USA'),
 (7, 'Leila', 32, 'female', 'France'),
 (8, 'Brigitte', 35, 'female', 'England'),
 (9, 'Mike', 40, 'male', 'Denmark'),
 (10, 'Elizabeth', 21, 'female', 'Canada'),
 (11, 'James', 25, 'male', 'USA'),
 (12, 'Leila', 32, 'female', 'France'),
 (13, 'Brigitte', 35, 'female', 'England'),
 (14, 'Mike', 40, 'male', 'Denmark'),
 (15, 'Elizabeth', 21, 'female', 'Canada'),
 (16, 'James', 25, 'male', 'USA'),
 (17, 'Leila', 32, 'female', 'France'),
 (18, 'Brigitte', 35, 'female', 'England'),
 (19, 'Mike', 40, 'male', 'Denmark'),
 (20, 'Elizabeth', 21, 'female', 'Canada')]